.headContainer{
    width: 100%;
    height: 150px;
    background-color:rgb(255, 255, 255);
   
}
.titleContainer{
    margin: auto;
    width: 300px;
    height: 100px;
   
    display: flex;
}
.titleContext{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 50px;
    border-radius: 5%;
    box-shadow: 0px 5px 5px 5px gray;
  
}
.btnContainer{
    height: 50px;
    width: 80%;
    margin-left: 13%;
    
}
.btnInsert{
    width: 69%;
    height: 45px;
    margin-left: 9%;
    margin-top: 0.1%;
    float: left;
    box-shadow: 0px 5px 5px 1px gray;
}



.btnContext{
    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    width: 5%;
    height: 97%;
    border-radius:0% 18% 18% 0%;
    box-shadow: 0px 5px 5px 1px gray;
    float: left;
    cursor: pointer;
    text-align: center;
    color: white;  
    font-size: 35px;
    font-weight: 700;
    

}

.btnContextChange{
    background: rgb(136, 156, 221);
    background: linear-gradient( to bottom, rgb(33, 69, 139), rgba(50, 81, 216, 0.705));
}
.contentsContainer{
    width: 100%;
    height: auto;
    margin: auto;
    

}
.ContentsListContainer{
    width: 100%;
    height: 100%;
    float: left;
    box-shadow: 0px 5px 5px 1px gray;
    border-radius: 30px;
    list-style: none;
    padding-left: 0px;
    padding-bottom: 1% ;
    padding-top: 1%;
     

}
.contentsSmallContainer{
    margin: auto;
    width: 50%;
    height: auto;

}
.checkLabel{
    background-size: 30px;
    background-image:url("./Icon/icons8-unchecked-checkbox-100.png");
    width:30px; 
    float: left; 
    height:30px; 
    cursor: pointer;
}
.TrueBox{ 
    background-image:url("./Icon/icons8-tick-box-100.png");
}

.checkLabelhvEvnt{

    background-color: rgba(204, 204, 204, 0.562);
}
.checkDiv{
    font-size: 25px;  
    width:30px; 
    height:30px; 
    margin-left: -25px; 
    display:none;
}
.footerContainer{
    
    width: 60%;
    margin-left: 20%;
    float: left;

}
.clearContext{
    width: 45%;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 700;
    float: left;
}

.clearContextHover{

    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    color: whitesmoke;
  
}
.cleanChecked{
    width: 45%;
    margin: auto;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 700;
    float: left;
}
.cleanCheckedtHover{

    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    color: whitesmoke;
  
}
.liContextDiv{

    width: 75%;
    height: 20px;
    margin-top:0.5%;
    float: left;
    border-bottom: 1px solid;
    border-color: rgb(199, 197, 197);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: pointer;

}
.liContextDivhvEvnt{

    background: linear-gradient( to bottom, rgb(236, 234, 234), rgb(228, 226, 226));
}
.removeBtnDiv{
    background-size: 20px; 
    width:20px; 
    height:20px;
    background-image:url("./Icon/free-icon-font-trash-3917378.png");
    float: left;
    margin-top: 0.5%;
    margin-left: 1.5%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);

}

.removeBtnDivhvEvnt{
    background-color: rgba(204, 204, 204, 0.562);
}

.newList {

    float: left;
    width: 100%;
    height: 25px;
    margin-left: 4%;
    margin-top: 0.2%;
    margin-bottom: 0.5%;
}
.moreFooterContainer{
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    height: 50%;
    float: left;
    display: none;
    
}
.moreFooterContainerOpen{
    display: block;
}
.writeListContainer{

    width: 100%;
    height:450px;
    box-shadow: 0px 5px 5px 1px gray;

}
.writeHead{

    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid rgb(194, 191, 191);
}
.writeContext{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    height: 75%;
    float: left;
    background-color: aquamarine;
    display: block;
}
.writeContextClose{
    display: none;
}
.writing{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    height: 75%;
    float: left;
    background-color: rgb(199, 16, 16);
    display: none;

}
.writingOpen{
    display: block;
}
.writeDiv{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 0.5%;
    background-color: aqua;
    margin-left: 2%;
}
.writeTitle{
    margin-left: 10%;
    float: left;
    margin-top: 2%;
    width: 80%;
    background-color: blue;
    word-wrap: break-word;
    margin-bottom: 2%;
}
.moreFooterExit{
    width: 8%;
    height: 30px;
    text-align: center;
    float: right;
    background-color: aquamarine;
    cursor: pointer;
}