.headContainer{
    width: 100%;
    height: 150px;
    background-color:rgb(255, 255, 255);
   
}
.titleContainer{
    margin: auto;
    width: 300px;
    height: 100px;
   
    display: flex;
}
.titleContext{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 50px;
    border-radius: 5%;
    box-shadow: 0px 5px 5px 5px gray;
  
}
.btnContainer{
    height: 50px;
    width: 80%;
    margin-left: 13%;
    
}
.btnInsert{
    width: 69%;
    height: 45px;
    margin-left: 9%;
    margin-top: 0.1%;
    float: left;
    box-shadow: 0px 5px 5px 1px gray;
}



.btnContext{
    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    width: 5%;
    height: 97%;
    border-radius:0% 18% 18% 0%;
    box-shadow: 0px 5px 5px 1px gray;
    float: left;
    cursor: pointer;
    text-align: center;
    color: white;  
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    

}

.btnContext:hover{
    background: rgb(136, 156, 221);
    background: linear-gradient( to bottom, rgb(33, 69, 139), rgba(50, 81, 216, 0.705));
    transition-duration: 3s;
}
.contentsContainer{
    width: 100%;
    height: auto;
    margin: auto;
    

}
.ContentsListContainer{
    width: 100%;
    height: 100%;
    float: left;
    box-shadow: 0px 5px 5px 1px gray;
    border-radius: 30px;
    list-style: none;
    padding-left: 0px;
    padding-bottom: 1% ;
    padding-top: 1%;
     

}
.contentsSmallContainer{
    margin: auto;
    width: 50%;
    height: auto;

}
.checkLabel{
    background-size: 30px;
    background-image:url("./Icon/icons8-unchecked-checkbox-100.png");
    width:30px; 
    float: left; 
    height:30px; 
    cursor: pointer;
}
.TrueBox{ 
    background-image:url("./Icon/icons8-tick-box-100.png");
}
.checkLabel:hover{

    background-color: rgba(204, 204, 204, 0.562);
}
.checkLabel:active{
    border: 0.0px solid rgb(8, 33, 116);
    background-color: rgba(204, 204, 204, 0.562);
    transform: scale(1.05);
}
/* .checkLabelhvEvnt{

    background-color: rgba(204, 204, 204, 0.562);
} */
.checkDiv{
    font-size: 25px;  
    width:30px; 
    height:30px; 
    margin-left: -25px; 
    display:none;
}
.footerContainer{
    
    width: 60%;
    margin-left: 20%;
    display: flex;
    background-color: aqua;

}
.clearContext{
    flex-basis: 0%;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 700;
    flex:auto;
    
}
.clearContext:hover{
    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    color: whitesmoke;
    transition-duration: 2s;
    flex-grow: 3;
    
}

/* .clearContext:hover{
    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    color: whitesmoke;
} */
/* .clearContextHover{

    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    color: whitesmoke;
  
} */
.cleanChecked{
    flex-basis: 0%;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 700;
    flex:auto;
  
}
.cleanChecked:hover{
    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    color: whitesmoke;
    transition-duration: 2s;
    flex-grow: 3;
   
    

}

/* .cleanCheckedtHover{

    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    color: whitesmoke;
  
} */
.liContextDiv{

    width: 80%;
    height: 20px;
    margin-top:0.5%;
    margin-right: 4%;
    float: left;
    border-bottom: 1px solid;
    border-color: rgb(199, 197, 197);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: pointer;

}
.liContextDiv:hover{

    background: linear-gradient( to bottom, rgb(236, 234, 234), rgb(228, 226, 226));
}
/* .liContextDivhvEvnt{

    background: linear-gradient( to bottom, rgb(236, 234, 234), rgb(228, 226, 226));
} */
.removeBtnDiv{
    background-size: 20px; 
    width:20px; 
    height:20px;
    background-image:url("./Icon/free-icon-font-trash-3917378.png");
    float: left;
    margin-top: 0.5%;
    margin-left: 2.5%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);

}

.removeBtnDiv:hover{

    background-color: rgba(204, 204, 204, 0.562);
}
/* .removeBtnDivhvEvnt{
    background-color: rgba(204, 204, 204, 0.562);
} */
.removeBtnDiv:active{

    transform: scale(1.05);
}
.newList {

    float: left;
    width: 100%;
    height: 25px;
    margin-left: 4%;
    margin-top: 0.2%;
    margin-bottom: 0.5%;
}
.moreFooterContainer{
    width: 0px;
    margin-top: 2%;
    margin-left: 25%;
    height: 0px;
    float: left;
    transition-duration: 2s;
    
}
.moreFooterContainerOpen{
    
    height: 50%;
    width: 50%;
    transition-property: width;
   
}

.writeListContainer{ /*이거 손보기~ */

    width: 100%;
    height:450px;
    transition-duration: 2s;
    visibility: hidden;
}

.writeListContainerClick{
    transition-duration: 1s;
    height:450px;
    visibility:visible;
    box-shadow: 0px 5px 5px 1px gray;
}
.writeHead{

    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid rgb(194, 191, 191);
}
.writeContext{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    height: 75%;
    float: left;
    display: block;
}
.writeContextClose{
    display: none;
}
.writing{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    height: 75%;
    float: left;
    display: none;

}
.writingOpen{
    display: block;
}
.writeDiv{
    background-size: 18px; 
    width:18px; 
    height:18px;
    background-image:url("./Icon/free-icon-font-pencil-3917376.png");
    float: left;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 0.5%;
    margin-left: -1%;

}

.writeDiv:hover{
    background-color: rgba(204, 204, 204, 0.562);
}
/* .writeDivhvEvnt{
    background-color: rgba(204, 204, 204, 0.562);
} */
.writeDiv:active{

    transform: scale(1.1);
}
.writeTitle{
    margin-left: 10%;
    float: left;
    margin-top: -8%;
    width: 80%;
    display: none;
    word-wrap: break-word;
    margin-bottom: 2%;
}
.writeTitleSee{
   display: block;
}
.moreFooterExit{
    width: 8%;
    height: 30px;
    text-align: center;
    float: right;
    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    color: white;
    cursor: pointer;
}
.moreFooterExit:hover{
    background: rgb(136, 156, 221);
    background: linear-gradient( to bottom, rgb(33, 69, 139), rgba(50, 81, 216, 0.705));
}

.listContext{
    white-space: pre;
}
@media screen and (max-width: 767px) {
    html {
        width: 767px;
        
    }
    .liContextDiv {
        width: 69%;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 959px) {
    html {
        width: 959px;
        
    }
    .liContextDiv {
        width: 73%;
    }
    
}
@media screen and (min-width: 960px)  and (max-width: 1145px) {
    html {
        width: 1145px;
        
    }
    .liContextDiv {
        width: 76%;
    }
    
}
@media screen and (min-width: 1146px)  and (max-width: 1430px) {
    html {
        width: 1430px;
        
    }
    .liContextDiv {
        width: 78%;
    }
    
}
@media screen and (min-width: 1431px)  and (max-width: 1601px) {
    html {
        width: 1600px;
        
    }
    .liContextDiv {
        width: 78%;
    }
    
}
@media screen and (min-width: 1602px) and (max-width: 1920px){
    html {
        width: 1920px;
        
    }
    .liContextDiv {
        width: 78%;
    }
    
}